body{
    overflow-x: hidden;
}
.bg-color{
    background-color: #264653;
}
.text-container{
    color: #FFFFFF;
    width: 456px;
}
.common-color{
    color: #E76F51;
}
.purchase-button{
    background-color: tomato;    
}
.customize-button{
    color: white;
    background-color: tomato;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
}
.customize-button-2{
    color: tomato;
    background-color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 2px solid tomato;
}
.filter{
    filter: grayscale(100%);
}
